body {
    background-color: #262626;
    color: #ece8e7;
    margin: 60px auto;
    width: 70%;
}

nav {
    font-size: 1.1em;
}

nav ul {
    padding: 0px;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 0.4em;
}

nav a {
    font-family: "Cabin", sans-serif;
    color: #ece8e7;
    display: inline-block;
}

li.pipe {
    font-size: 1.15em;
    color: #999;
    list-style: none;
    display: inline;
}

#timestamp {
    font-size: 0.7em;
    font-family: "Source Code Pro", monospace;
}

#email {
    font-size: 0.9em;
    font-family: "Source Code Pro", monospace;
}

a.title {
    font-size: 1.1em;
    color: #999;
}

#content {
}

span.accent {
    font-size: 1.15em;
    color: #999;
    margin-right: 0.2em;
    text-decoration: none;
}

footer {
    font-family: "Cabin", sans-serif;
    border-top: 1px solid #d5d5d5;
}

footer ul {
    padding: 0px;
    list-style: none;
    margin-top: 0.5em;
}

footer li {
    list-style: none;
    display: inline;
    margin-right: 0.4em;
}

footer a {
    font-family: "Cabin", sans-serif;
    color: #ece8e7;
    display: inline-block;
    margin-left: 0.4em;
}

#content a {
    color: #999;
}

#notfound {
    font-family: "Source Code Pro", monospace;
}

#post_title {
    font-family: "Archivo", sans-serif;
    font-size: 1.75em;
}

#published_date_section {
    padding-bottom: 5px;
}

#post_date {
    font-size: 0.9em;
    font-family: "Source Code Pro", monospace;
}

code {
    font-family: "Source Code Pro";
}

blockquote {
    margin-left: 25px;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 2px;
    border-left: 5px solid #ccc;
    background-color: black;
}

p,
ol {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        avenir next,
        avenir,
        segoe ui,
        helvetica neue,
        helvetica,
        Ubuntu,
        roboto,
        noto,
        arial,
        sans-serif;
    line-height: 1.2em;
}

li {
    padding-left: 0.15em;
    padding-top: 8px;
}

p#license {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        avenir next,
        avenir,
        segoe ui,
        helvetica neue,
        helvetica,
        Ubuntu,
        roboto,
        noto,
        arial,
        sans-serif;
    font-size: 0.75em;
}

ul li {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        avenir next,
        avenir,
        segoe ui,
        helvetica neue,
        helvetica,
        Ubuntu,
        roboto,
        noto,
        arial,
        sans-serif;
}

/* Table Test */
table {
    width: max-content; /* Ensure the table width fits the content */
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: black; /* Set text color to black */
    font-family: "Source Code Pro", monospace;
}

th {
    background-color: #000000;
    color: white;
    font-weight: bold;
    text-align: center; /* Center the header text */
    white-space: nowrap; /* Prevent header text from wrapping */
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #e0e0e0;
}

td,
th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center; /* Center the content text */
}

td {
    white-space: nowrap; /* Prevent content from wrapping */
}

h3 {
    font-family: "Archivo", sans-serif;
    font-size: 1.4em;
    letter-spacing: 0.05em;
}

.pagination{
    font-size: 2em;
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.pagination li {
    padding: 10px;
}
